.wallet-block {
  display: flex;
  margin-right: 4px;
  margin-top: 4px;
  justify-content: space-around;
}
.current-block {
  margin-right: 41px;
  &:last-child {
    margin-right: 3px;
  }
  .current-block-sum {
    font-weight: bold;
    font-size: 16px;
  }
  .current-block-wallet{
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1024px) {
  .wallet-block {
    justify-content: flex-start;
  }
  .current-block {
    margin-left: 0;
    margin-right: 30px;
  }
}
