<div *ngIf="width > 1024" class="left-block">
  <div class="left-menu page-element m-0">
    <div *ngFor="let menuItem of menu.leftMenu" class="left-menu-item" [routerLink]="'/' + menuItem.link"
         [routerLinkActive]="'left-menu-item-active'">
      <div class="menu-ico" [inlineSVG]="router.isActive( menuItem.link, false) ? menuItem.icon.replace('.svg', '-active.svg') :  menuItem.icon"></div>
      <div class="menu-title">{{menuItem.title}}</div>
    </div>
  </div>
  <!--<div class="page-element">
    блок временно скрыть за отсутсвием api
   <app-client-status></app-client-status>
  </div>-->
  <div class="page-element client-link">
  <app-client-link></app-client-link>
  </div>
  <div class="inviter-person page-element ml-0 mr-0 arrow-dropdown a-d-b">
    <p>Ваш пригласитель</p>
    <p><b>Дмитрий Иванов</b></p>
  </div>
</div>

<div *ngIf="width <= 1024" class="left-block">
  <div class="mobile-header-title arrow-dropdown a-d-b" [class.open-profile-block]="open" (click)="open = !open">
    Навигация
    <div class="dropdown-header">
      <div class="left-menu page-element m-0">
        <div *ngFor="let menuItem of menu.leftMenu" class="left-menu-item" [routerLink]="'/' + menuItem.link"
             [routerLinkActive]="'left-menu-item-active'">
          <div class="menu-ico" [inlineSVG]="menuItem.icon"></div>
          <div class="menu-title">{{menuItem.title}}</div>
        </div>
      </div>
    </div>
    </div>
    <div class="mobile-header-title">
      <app-wallet></app-wallet>
    </div>
    <div class="inviter-person">
      <div class="mobile-header-title">
        <p>Ваш пригласитель</p>
        <p><b>Дмитрий Иванов</b></p>
      </div>
      <div class="contacts">
        <p>Контактная почта</p>
        <p><b>ivanov@yandex.ru</b></p>
      </div>
    </div>
</div>
