<div class="client-status">
  <div class="client-status-header">
    <div class="client-status-header-subtitle">Клиентский статус</div>
    <div class="client-status-header-block">
      <div class="client-status-header-point"></div>
      <div class="client-status-header-title">Инвест-брокер</div>
    </div>
  </div>
  <div class="client-status-body">
    <div class="client-status-body-row">
      <div class="client-status-row-title">Колличество регистраций по личной ссылке</div>
      <div class="client-status-row-statistic">17</div>
    </div>
    <div class="client-status-body-row">
      <div class="client-status-row-title">Общее количество регистраций</div>
      <div class="client-status-row-statistic">44</div>
    </div>
    <div class="client-status-body-row">
      <div class="client-status-row-title">Общее количество инвестиций в структуре</div>
      <div class="client-status-row-statistic">1 900 $</div>
    </div>
    <div class="client-status-body-row statistic-green">
      <div class="client-status-row-title">Агентские вознаграждения</div>
      <div class="client-status-row-statistic ">100 $</div>
    </div>
  </div>
</div>
