.settings {
  display: flex;
  .settings-col {
    max-width: 530px;
    width: 100%;
  }
  .settings-col.settings-col-small {
    max-width: 370px;
    width: 100%;
    margin-right: 30px;
  }
}

.input-row {
  margin-top: 30px;
  position: relative;
  .moleson-btn {
    max-width: 158px;
  }

  .show-password {
    width: 18px;
    height: 13px;
    position: absolute;
    top: 51px;
    cursor: pointer;
    right: 20px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/svg-icon/hide-pass.svg');
    &.show-pass {
      background-image: url('/assets/svg-icon/show-pass.svg');
    }
  }


}
@media screen and (max-width: 1480px) {
  .settings {
   flex-direction: column;
    .settings-col {
      padding: 0 15px;
      max-width: 100%;
    }
    .settings-col.settings-col-small {
      max-width: 100%;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .input-row {
    .moleson-btn {
      max-width: 100%;
    }
  }
}
