<div class="settings">
  <div class="settings-col settings-col-small">
    <div class="page-element">
      <div class="page-element-header page-element-header-full-line">
        <div class="page-element-header-title">Изменить пароль</div>
      </div>
      <div class="page-body">
        <div class="input-row">
          <div class="default-input-title">Новый пароль</div>
          <show-hide-password btnStyle="moleson" [btnOutline]="false">
          <input type="password" [(ngModel)]="password" class="default-input">
          </show-hide-password>
        </div>
        <div class="input-row">
          <div class="default-input-title">Повторите пароль</div>
          <input type="password" [(ngModel)]="passwordRepeat" class="default-input">
        </div>
        <div class="input-row">
          <div class="moleson-btn moleson-btn-secondary" (click)="changePassword()">Сохранить</div>
        </div>
      </div>
    </div>
  </div>
  <!--div class="settings-col">
    <div class="page-element">
      <div class="page-element-header page-element-header-full-line">
        <div class="page-element-header-title">Уведомления</div>
      </div>
      <div class="page-body">
        <div class="input-row">
          <div class="custom-checkbox">
            <label for="mailing">
              Получать рассылку
            <input type="checkbox" id="mailing">
          </label>
          </div>
        </div>
        <div class="input-row">
          <div class="custom-checkbox">
            <label for="notification">
              Получать уведомления о регистрациях
              <input type="checkbox" id="notification">
            </label>
          </div>
        </div>
        <div class="input-row">
          <div class="moleson-btn moleson-btn-secondary">Сохранить</div>
        </div>
      </div>
    </div>
    <div class="page-element">
      <div class="page-element-header page-element-header-full-line">
        <div class="page-element-header-title">Уведомления</div>
      </div>
      <div class="page-body">
        <div class="input-row">
          <div class="custom-checkbox">
            <label for="show-name">
              Отображение имени в структуре команды
              <input type="checkbox" id="show-name">
            </label>
          </div>
        </div>
        <div class="input-row">
          <div class="custom-checkbox">
            <label for="show-contacts">
              Отображение контактов в структуре команды
              <input type="checkbox" id="show-contacts">
            </label>
          </div>
        </div>
        <div class="input-row">
          <div class="moleson-btn moleson-btn-secondary">Сохранить</div>
        </div>
      </div>
    </div>
  </div-->
</div>
