.page-block {
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
  .right-area
  {
    max-width: 380px;
    margin-left: 80px;
    width: 50%;
  }
  .main-area {
    width: 100%;
  }
}
.page-block.page-block-mobile {
  display: block;
  .right-area
  {
    max-width: 100%;
    margin-left: 0;
    width: 100%;
  }
  .main-area {
    width: 100%;
  }
}
@media screen and (max-width: 1680px){
  .page-block {
    .right-area{
      margin-left: 40px;
    }
  }
}
@media screen and (max-width: 1024px){
  .page-block {
    .right-area {
      margin-left: 0;
    }
  }
}
