
<div *ngIf="width > 1024" class="page-block">
  <div class="main-area">
    <app-balance></app-balance>
    <app-my-franchises></app-my-franchises>
    <app-top-franchises></app-top-franchises>
    <!--app-news-widget></app-news-widget-->
  </div>
  <div class="right-area desktop">
    <!-- <div class="page-element mt-0">

       блок временно скрыть за отсутсвием api
      <app-analitics></app-analitics>
    </div>-->
    <div class="page-element">
      <app-last-operations></app-last-operations>
    </div>
    <div class="page-element">
      <app-social-links></app-social-links>
    </div>
  </div>
</div>


<div *ngIf="width <= 1024" class="page-block page-block-mobile container-fluid">
  <app-balance></app-balance>
  <app-my-franchises></app-my-franchises>
  <div class="btns-row">
    <!--div class="btn btn-white" [class.btn-active]="btnId === 0" (click)="scrollSlider(0)">Аналитика</div-->
    <div class="btn btn-white" [class.btn-active]="btnId === 0" (click)="scrollSlider(0)">Действия</div>
    <div class="btn btn-white" [class.btn-active]="btnId === 1" (click)="scrollSlider(1)">Рекомендации</div>
  </div>
  <div #slider class="slider" (scroll)="switchBtn($event.target)">
    <div class="slider-container">
      <!--div class="slider-container-element">
          <div class="page-element">
          <app-analitics></app-analitics>
        </div>
      </div-->
      <div class="slider-container-element">
        <div class="page-element">
          <app-last-operations></app-last-operations>
        </div>
      </div>
      <div class="slider-container-element">
        <div class="page-element ml-0 mr-0">
          <div class="page-element-header p-0 pb-4 page-element-header-full-line d-flex justify-content-between">
            <div class="page-element-header-title">Рекомендации</div>
            <div class="btn btn-primary desktop-show">Перейти в настройки</div>
          </div>
          <div class="recommend">
            <div class="recommend-img"></div>
            <div class="recommend-title">Личные данных</div>
            <div class="recommend-desc">Заполните личные данные чтобы пользоваться всеми возможностями платформы
              Moleson
            </div>
          </div>
          <div class="recommend-btn btn btn-secondary mobile-show">Перейти в настройки</div>
        </div>
      </div>
    </div>
  </div>
  <app-top-franchises></app-top-franchises>
  <!--app-news-widget></app-news-widget-->
  <app-social-links></app-social-links>
</div>

