
  <footer>
      <div class="logo-block">
        <div class="logo"></div>
        <div class="copyright">© Moleson AG 2020</div>
      </div>
      <div class="footer-link-block">
        <div class="link-stack">
          <div class="footer-title">Навигация</div>
          <div class="footer-link">Главная</div>
          <div class="footer-link">Проекты</div>
          <div class="footer-link">Новости</div>
          <div class="footer-link">Документация</div>
          <div class="footer-link">Помощь</div>
        </div>
        <div class="link-stack">
          <div class="footer-title">Мой профиль</div>
          <div class="footer-link">Мои инвестиции</div>
          <div class="footer-link">Управление профилем</div>
          <div class="footer-link">Мои операции</div>
          <div class="footer-link">Верификация</div>
        </div>
        <div class="link-stack">
          <div class="footer-title">Информация</div>
          <div class="footer-link">Пользовательское соглашение</div>
          <div class="footer-link">Политика конфиденциальности</div>
          <div class="footer-link">Диверсификация рисков</div>
          <div class="footer-link">Партнёрам</div>
        </div>
      </div>
      <div class="footer-contact">
        <div class="footer-numbers">8 (800) 250-00-99</div>
        <div class="footer-email">help@moleson.swiss</div>
        <div class="footer-social-block">
          <div class="row">
            <div class="footer-social-link" id="vk">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/vk.svg'"></div>
            </div>
            <div class="footer-social-link" id="fb">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/fb.svg'"></div>
            </div>
            <div class="footer-social-link" id="youtube">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/youtube.svg'"></div>
            </div>
          </div>
          <div class="row">
            <div class="footer-social-link" id="inst">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/inst.svg'"></div>
            </div>
            <div class="footer-social-link" id="telegram">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/telegram.svg'"></div>
            </div>
            <div class="footer-social-link" id="whatsapp">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/whatsapp.svg'"></div>
            </div>
          </div>
        </div>
      </div>
  </footer>
