.footer-title {
  &:after {
    display: none;
  }
}
footer {
  padding: 50px 80px;
  margin-top: 90px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  .logo {
    background-repeat: no-repeat;
    background-size: contain;
    width: 195px;
    background-image: url("/assets/svg-icon/logo.svg");
    height: 34px;
  }
  .copyright {
    margin-top: 30px;
    color: #051C2C;
    path {
      fill: red
    }
  }

  .footer-link-block {
    display: flex;
    justify-content: space-between;
    .link-stack {
      margin-right: 100px;
    }
  }
  .footer-link {
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.6;
  }
  .footer-contact {
    margin-right: 107px;
  }
  .footer-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .footer-numbers {
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .footer-email {
    font-size: 18px;
    cursor: pointer;
  }
  .footer-social-link {
    width: 50px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
  }
  .footer-social-block {
    margin-top: 20px;
  }
  .social-ico {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #vk {
    background-color: #4A76A8;
  }
  #fb {
    background-color: #3B5998;
  }
  #youtube {
    background-color: #DA271E;
  }
  #inst {
    background: linear-gradient(84.83deg, #F4BF6F 0%, #E24443 35.79%, #A2249F 73.02%, #B91995 96.5%);
  }
  #telegram {
    background-color: #419FD9;
  }
  #whatsapp {
    background-color: #29A71A;
    }
}
@media screen and (max-width: 1480px){
  footer {
    padding: 50px 40px;
    .logo {
      width: 100px;
    }
    .copyright {
      font-size: 14px;
    }
    .footer-contact {
      margin-right: 0;
    }
    .footer-numbers {
      font-size:25px;
    }
    .footer-link-block{
      .link-stack {
        margin-right: 50px;
        .footer-title {
          font-size: 14px;
        }
        .footer-link {
          font-size: 12px;

        }
      }
    }
  }
}
@media screen and (max-width: 1024px){
  footer {
    margin-top: 20px;
    padding: 30px 0;
    flex-direction: column-reverse;
    .footer-numbers {
      font-size: 24px;
    }
    .footer-email {
      font-size: 14px;
    }
    .copyright {
      margin-top: 15px;
    }
    .logo {
      margin-top: 30px;
    }
    .footer-link-block {
      flex-direction: column;
    }
    .footer-social-link {
      display: none;
    }
    .footer-contact {
      text-align: center;
      margin-right: 0;
    }
    .footer-link-block {
      .link-stack.show-links {
        height: 300px;
        .footer-title {
          &:after {
            transform: rotate(-180deg);
          }
        }
      }
      .link-stack {
        &:last-child {
          border-bottom: 1px solid #e6e9ea;
        }
        transition: 0.2s;
        border-top: 1px solid #e6e9ea;
        margin-right: 0;
        height: 67px;
        overflow-y: hidden;
        .footer-link {
          padding: 0 16px;
        }
        .footer-title {
          margin: 0;
          position: relative;
          height: 67px;
          display: flex;
          align-items: center;
          padding: 0 16px;
          &:after {
            display: block;
            right: 16px;
          }
        }

      }
    }
    .logo-block {
      padding: 0 16px;
    }
  }
}
@media screen and (max-width: 480px){
  footer {
    .logo {
      width: 141px;
      height: 31px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 35px;
    }
    .copyright {
      margin-top: 10px;
      font-size: 14px;
    }
    margin-top: 28px;
    .footer-numbers {
      margin-bottom: 7px;
    }
    .footer-link-block {
      .link-stack.show-links {
        height: 288px;
      }
     .link-stack {
       .footer-link.first-footer-link {
         margin-top: 0;
       }
       .footer-link {
         margin-top: 20px;
       }
       .footer-title {
         margin-top: 5px;
       }
     }
    }
  }
}
