
  <footer>
      <div class="logo-block">
        <div class="logo"></div>
        <div class="copyright">© Moleson AG 2020</div>
      </div>
      <div class="footer-link-block">
        <div class="link-stack" [class.show-links]="first" (click)="first = !first">
          <div class="footer-title arrow-dropdown a-d-b">Навигация</div>
          <div class="footer-link first-footer-link" [routerLink]="'/'">Главная</div>
          <div class="footer-link" [routerLink]="'/franchises'">Проекты</div>
          <!--div class="footer-link" [routerLink]="'/news/'">Новости</div-->
          <div class="footer-link" [routerLink]="'/docs/'">Документация</div>
          <div class="footer-link" [routerLink]="'/help/'">Помощь</div>
        </div>
        <div class="link-stack" [class.show-links]="second" (click)="second = !second">
          <div class="footer-title arrow-dropdown a-d-b">Мой профиль</div>
          <!--div class="footer-link first-footer-link">Мои инвестиции</div-->
          <div class="footer-link" [routerLink]="'/cabinet/profile/'">Управление профилем</div>
          <div class="footer-link" [routerLink]="'/operations/'">Мои операции</div>
          <div class="footer-link" [routerLink]="'/cabinet/verification/step1'">Верификация</div>
        </div>
        <div class="link-stack" [class.show-links]="third" (click)="third = !third">
          <div class="footer-title arrow-dropdown a-d-b">Информация</div>
          <a class="footer-link first-footer-link" href="/assets/docs/Terms_of_Use_v18.5.20.pdf" download>Пользовательское соглашение</a>
          <a class="footer-link" href="/assets/docs/politika_konfidentsialnosti.pdf" download>Политика конфиденциальности</a>
          <a class="footer-link" href="/assets/docs/riski.pdf" download>Предупреждение о рисках</a>
          <!--div class="footer-link">Партнёрам</div-->
        </div>
      </div>
      <div class="footer-contact">
        <!--div class="footer-numbers">8 (800) 250-00-99</div-->
        <div class="footer-email">info@moleson.pro</div>
        <div class="footer-social-block">
          <div class="row">
            <div class="footer-social-link" id="vk">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/vk.svg'"></div>
            </div>
            <div class="footer-social-link" id="fb">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/fb.svg'"></div>
            </div>
            <div class="footer-social-link" id="youtube">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/youtube.svg'"></div>
            </div>
          </div>
          <div class="row">
            <div class="footer-social-link" id="inst">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/inst.svg'"></div>
            </div>
            <div class="footer-social-link" id="telegram">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/telegram.svg'"></div>
            </div>
            <div class="footer-social-link" id="whatsapp">
              <div class="social-ico" [inlineSVG]="'/assets/svg-icon/social/whatsapp.svg'"></div>
            </div>
          </div>
        </div>
      </div>
  </footer>
