footer {
  padding: 50px 80px;
  margin-top: 90px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  .logo {
    width: 195px;
    background-image: url("/assets/svg-icon/logo.svg");
    height: 34px;
  }
  .copyright {
    margin-top: 30px;
    color: #051C2C;
    path {
      fill: red
    }
  }
  .footer-link-block {
    display: flex;
    justify-content: space-between;
    .link-stack {
      margin-right: 100px;
    }
  }
  .footer-link {
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.6;
  }
  .footer-contact {
    margin-right: 107px;
  }
  .footer-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .footer-numbers {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .footer-email {
    font-size: 18px;
  }
  .footer-social-link {
    width: 50px;
    height: 35px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
  }
  .footer-social-block {
    margin-top: 20px;
  }
  .social-ico {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #vk {
    background-color: #4A76A8;
  }
  #fb {
    background-color: #3B5998;
  }
  #youtube {
    background-color: #DA271E;
  }
  #inst {
    background: linear-gradient(84.83deg, #F4BF6F 0%, #E24443 35.79%, #A2249F 73.02%, #B91995 96.5%);
  }
  #telegram {
    background-color: #419FD9;
  }
  #whatsapp {
    background-color: #29A71A;
    }
}
@media screen and (max-width: 1024px){
  footer {
    padding: 30px 0;
    flex-direction: column-reverse;
    .footer-link-block {
      flex-direction: column;
    }
    .footer-social-link {
      display: none;
    }
    .footer-contact {
      text-align: center;
      margin-right: 0;
    }
    .footer-link-block {

      .link-stack {
        .footer-title {
          margin: 0;
          padding: 0 16px;
        }
        border-top: 1px solid #e6e9ea;
        margin-right: 0;
        height: 60px;
        overflow-y: hidden;
      }
    }
    .logo-block {
      padding: 0 16px;
    }
  }
}
