<div class="profile-block">
  <div class="profile-block-col small-col">
    <div class="page-element">
      <div class="profile-block-avatar">
        <div class="profile-block-avatar-header">
          <div class="profile-current-avatar"></div>
          <div class="profile-current-name">Уорен Баффет</div>
        </div>
        <div class="profile-block-avatar-body">
          <div class="profile-avatar-info">
            <div class="profile-avatar-info-title">Ваша фотография</div>
            <div class="profile-avatar-info-desc">
              <p>Формат: jpeg, png</p>
              <p>Максимальный размер файла: 1 Mb</p>
              <p>Рекомендованный размер: 200х200 px</p>
            </div>
            <div class="moleson-btn moleson-btn-secondary">
              загрузить
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-block-mail">
      <div class="page-element">
        <div class="mail-status">Почта подтверждена</div>
        <div class="mail-input"><input class="default-input" type="text"></div>
        <div class="moleson-btn moleson-btn-secondary">изменить</div>
      </div>
    </div>
  </div>
  <div class="profile-block-col">
    <div class="profile-block-verification">
      <div class="page-element">
        <div class="verification-status"></div>
        <div class="moleson-btn moleson-btn-outline-green">Верифицировать</div>
      </div>
    </div>
    <div class="profile-block-information">
      <div class="page-element">
        <div class="page-element-header page-element-header-full-line">
          <div class="page-element-title">Личная инофрмация</div>
        </div>
        <div class="information-body">
          <div class="input-row">
            <div class="default-input-title">Фамилия</div>
            <input type="text" class="default-input">
          </div>
          <div class="input-row">
            <div class="default-input-title">Имя</div>
            <input type="text" class="default-input">
          </div>
          <div class="input-row">
            <div class="default-input-title">Дата рождения</div>
            <div class="input-select-row">
              <input type="text" class="default-input">
              <input type="text" class="default-input">
              <input type="text" class="default-input">
            </div>
          </div>
          <div class="input-row">
            <div class="default-input-title">Город проживания</div>
            <input type="text" class="default-input"></div>
          <div class="input-row">
            <div class="default-input-title">Отчество</div>
            <input type="text" class="default-input">
          </div>
          <div class="input-row">
            <div class="default-input-title">Телефон</div>
            <input type="text" class="default-input">
          </div>
          <div class="moleson-btn moleson-btn-secondary">Сохранить изменения</div>
        </div>
      </div>
    </div>
  </div>
</div>

