.slider-container {
  .page-element {
    margin-top: 0;
    padding: 23px 31px 28px 40px;
  }
}
.btn-outline-secondary {
  border-width: 2px;
}
.franchise-status {
  display: flex;
  align-items: center;
  width: 100%;
  .franchise-status-dot {
    border-radius: 50%;
    margin-right: 15px;
    width: 13px;
    height: 13px;
    background-color: #FF9F19;
  }
}
.last-title {
  white-space: nowrap;
  font-size: 14px;
}
.franchise-status-title {
  font-size: 12px;
}
.last-cost {
  span {
    display: block;
  }
  .separate {
    display: none;
  }
}
.franchise-body {
  display: flex;
  margin-top: 13px;
  justify-content: space-between;
  width: 100%;
  .franchise-body-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 43px;
    p {
      margin-bottom: 0;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 60px;
      right: 0;
      width: 1px;
      background: #051C2C;
      opacity: 0.2;
    }
    &:first-child {
      padding-left: 0;
      padding-right: 20px;
    }
    &:last-child {
      padding-right: 0;
      &:after {
        display: none;
      }
    }
    .main-info {
      display: flex;
      justify-content: flex-start;
      min-width: 150px;
      .avatar {
        min-width: 32px;
        margin-right: 15px;
        margin-top: 7px;
        max-width: 32px;
        min-height: 32px;
        max-height: 32px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        cursor: pointer;
      }
    }

    .franchise-title {
      font-size: 20px;
      color: #051C2C;
      font-weight: bold;
      cursor: pointer;
    }
    .franchise-adresse {
      max-width: 175px;
      font-size: 14px;
    }
    .progress-bar-full {
      height: 100%;
      background-color: #FF9F19;
    }
    .progress-bar {
      width: 189px;
      height: 5px;
      overflow: hidden;
      border-radius: 20px;
      background-color: #EEEEEE;
    }
  }
}

.precent {
  width: 66px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: 1px solid #31B984;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  padding: 11px 14px;
}
.page-element {
  cursor: pointer;
  margin: 30px 0;
}
.full-btn {
  margin-top: 20px;
  padding: 18px 0;
  font-size: 18px;
}
.mobile-show {
  display: none;
}
.separate {
  display: none;
}
@media screen and (max-width: 1480px) {
  .slider-container  {
    .page-element {
      font-size: 12px;
      margin-top: 0;
      padding: 17px 20px 31px 20px;
      .franchise-body{
        .franchise-body-block{
          .franchise-title{
            font-size: 16px;
          }
        }
      }
    }
  }
  .mobile-show {
    display: block;
  }
  .desktop-show {
    display: none!important;
    &:after {
      display: none;
    }
  }
  .precent {
    width: 66px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 15px;
  }
  .franchise-status {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .franchise-body {
    .franchise-body-block {
      border-top: none;
    }
    .franchise-adresse {
      font-size: 12px;
    }
    .franchise-body-block {
      padding: 0;
      &:first-child {
        padding-right: 0;
      }
      .progress-bar {
        width: 140px;
      }
      &:after {
        display: none;
      }
    }
    .progress-body {
      padding: 0 20px;
    }
  }
  .separate {
    display: block;
    margin: 0 0 0 4px;
  }
}

@media screen and (max-width: 480px) {
  h2.block-title {
    margin-top: 46px;
  }
  .franchise-body {
    .franchise-body-block {
      border-top: 1px solid #e6e9ea;
    }
  }
  .last-cost {
    span {
      display: inline;
    }
    .separate {
      display: inline;
    }
  }
  .last-title {
    white-space: normal;
  }
  h2 {
    font-size: 22px;
    font-weight: bold;
  }

  .slider {
    max-width: unset;
    margin-left: -15px;
    margin-right: -15px;
  }
  .slider-container {
    width: 250%;
    display: flex;
  }

  .franchise-status {

    .franchise-status-dot {
      width: 9px;
      height: 9px;
      margin-right: 10px;
    }
    .franchise-status-title{
      font-size: 12px;
      margin-top: 3px;
    }
  }
  .franchise-body {
    .franchise-body-block {
      .franchise-status-title {
        font-size: 16px;
      }
      .franchise-adresse  {
        font-size: 12px;
      }
    }
  }
  .precent {
    display: flex;
    margin-left: auto;
    font-size: 16px;
    padding: 6px;
  }
  .slider-container  {
    .page-element {
      max-width: 239px;
      padding: 20px 17px;
      .franchise-status {
        flex-direction: row;
        justify-content: space-between;
      }
      .precent {
        width: 55px;
        margin-right: 3px;
        margin-top: 3px;
        height: 37px;
      }
    }
  }
  .page-element {

    .final-cost {
      font-weight: normal;
    }
    &:first-child {
      margin-left: 19px;
    }
    &:last-child {
      margin-right: 19px;
    }
    margin: 15px 4px;

  }
  .franchise-body {
    flex-direction: column;
    margin-top: 18px;
    .franchise-body-block.progress-body {
      padding: 10px 20px 10px 0;
    }
    .franchise-body-block{
      font-size: 12px;
      padding: 20px 0;
      .progress-bar {
        width: 100%;
      }
      &:last-child {
        margin-top: 7px;
        .last-title {
          font-size: 12px;
        }
        .last-cost {
          margin-top: 4px;
        }
      }
      .franchise-adresse {
        max-width: 90%;
      }
      .main-info {
        .avatar {
          margin-top: 3px;
        }
      }
      &:last-child {
        padding-bottom: 0;
      }
      .last-cost {
        font-size: 16px;
        margin-top: 10px;
        display: block;
      }
      &:after {
        height: 1px;
        right: 0;
        top:0 ;
        width: 100%;
      }
    }
  }
  .full-btn {
    margin-top: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

}
