<div class="top-franchises">
  <h2 class="block-title">Проекты франшиз</h2>
  <div class="slider">
    <div class="slider-container">
      <div *ngFor="let franchise of franchises | slice:0:3" class="page-element">
        <div class="franchise-status">
          <div class="d-flex align-items-center">
            <div class="franchise-status-dot" [style.background-color]="franchise.color"></div>
            <div class="franchise-status-title">{{franchise.status ? franchise.status.title : '' }}</div>
          </div>
          <div class="precent mobile-show">
            +{{franchise.profitability + ' %'}}
          </div>
        </div>
        <div class="franchise-body">
          <div class="franchise-body-block">
            <div class="main-info">
              <div class="avatar" [routerLink]="['/franchises-detail', franchise._id]" [style.background-image]="'url(' + franchise.picture + ')'"></div>
              <div>
                <div class="franchise-title"  [routerLink]="['/franchises-detail', franchise._id]">{{franchise.name}}</div>
                <div class="franchise-adresse">{{franchise.adresse}}</div>
              </div>
            </div>
          </div>
          <div class="franchise-body-block desktop-show">
            <div class="precent">
              + {{franchise.profitability + ' %'}}
            </div>
          </div>
          <div class="franchise-body-block progress-body">
            <div class="w-100">
              <div class="d-flex justify-content-between mt-2">
                <p class="mb-2">Прогресс</p>
                <p class="mb-2">
                  <b>{{franchise.progress}}%</b>
                </p>
              </div>
              <div class="d-flex align-items-center">
                <div class="progress-bar">
                  <div class="progress-bar-full" [style.width]="franchise.progress + '%'"></div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <p>{{franchise.investors.length}} уч.</p>
                <p>
                  <b class="final-cost">{{franchise.formatRemainCost}} $</b>
                </p>
              </div>
            </div>
          </div>
          <div class="franchise-body-block">
            <div class="w-100">
              <p class="last-title">Общая стоимость</p>
              <p>
                <b class="last-cost">
                  <span class="m-cost">{{franchise.formatCost}} $</span>
                  <span class="separate">/</span>
                  <span class="m-cost">{{franchise.formatCostRub}} ₽</span>
                </b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn btn-outline-secondary w-100 full-btn" [routerLink]="'/franchises'">Смотреть все проекты</div>
</div>

