<div class="top-franchises">
  <h2 class="block-title">Актуальные франшизы</h2>
  <div class="slider">
    <div class="slider-container">
      <div *ngFor="let franchise of franchises | slice:0:3" class="page-element">
        <div class="franchise-status">
          <div class="d-flex align-items-center">
            <div class="franchise-status-dot" [style.background-color]="getColor(franchise.status)"></div>
            <div class="franchise-status-title">{{franchise.status}}</div>
          </div>
          <div class="precent mobile-show">
            +{{franchise.precent + ' %'}}
          </div>
        </div>
        <div class="franchise-body">
          <div class="franchise-body-block">
            <div class="main-info">
              <div class="avatar" [style.background-image]="'url(' + franchise.ico + ')'"></div>
              <div>
                <div class="franchise-title">{{franchise.name}}</div>
                <div class="franchise-adresse">{{franchise.adresse}}</div>
              </div>
            </div>
          </div>
          <div class="franchise-body-block desktop-show">
            <div class="precent">
              + {{franchise.precent + ' %'}}
            </div>
          </div>
          <div class="franchise-body-block progress-body">
            <div class="w-100">
              <div class="d-flex justify-content-between mt-2">
                <p class="mb-2">Прогресс</p>
                <p class="mb-2">
                  <b>53%</b>
                </p>
              </div>
              <div class="d-flex align-items-center">
                <div class="progress-bar">
                  <div class="progress-bar-full" [style.width]="'53%'"></div>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <p>45 уч.</p>
                <p>
                  <b class="final-cost">60 000 $</b>
                </p>
              </div>
            </div>
          </div>
          <div class="franchise-body-block">
            <div class="w-100">
              <p class="last-title">Общая стоимость</p>
              <p>
                <b class="last-cost">
                  <span>100 000 $</span>
                  <span class="separate">/</span>
                  <span>6 966 336 ₽</span>
                </b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn btn-outline-secondary w-100 full-btn" [routerLink]="'/franchises'">Смотреть все проекты</div>
</div>

