<div class="partners-container">
  <div class="partners-block-wide black-block gradient-block">
    <div class="partners-block-stars-row">
      <div class="partners-block-star bigger-icon" [setSVGAttributes]="{width: '100%', height: '100%'}" [inlineSVG]="'/assets/svg-icon/partners/start.svg'"></div>
      <div class="partners-block-star bigger-icon" [setSVGAttributes]="{width: '100%', height: '100%'}" [inlineSVG]="'/assets/svg-icon/partners/start.svg'"></div>
      <div class="partners-block-star bigger-icon start-empty" [setSVGAttributes]="{width: '100%', height: '100%'}" [inlineSVG]="'/assets/svg-icon/partners/start-empty.svg'"></div>
    </div>
    <div class="partners-block-info">
      <div class="partners-block-name">Ваш клиентский статус:</div>
      <div class="partners-block-title">Инвест-агент</div>
    </div>
  </div>
  <!--div *ngFor="let block of blocks" class="partners-block">
    <div class="partners-block-name">{{block.name}}</div>
    <div class="partners-block-cost">{{number_formatted(block.cost)}} {{block.dollars ? ' $' : ''}}</div>
  </div-->
</div>
