<div class="page-area">
  <div class="main-block">
    <div class="btns-row">
      <div class="btn btn-white" [routerLink]="'/cabinet/profile'" [routerLinkActive]="'btn-active'">Личная информация</div>
      <div class="btn btn-white" [routerLink]="'/cabinet/settings'" [routerLinkActive]="'btn-active'">Настройки</div>
      <div class="btn btn-white btn-row-success" [routerLink]="'/cabinet/verification'" [routerLinkActive]="'btn-active'">Верификация</div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="right-block">
    <div class="page-element mt-0">
      <app-last-operations></app-last-operations>
    </div>
    <div class="page-element">
      <app-social-links></app-social-links>
    </div>
  </div>
</div>

