.img-questions {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}
.number {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}
.email {
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}
