<div *ngIf="user" class="client-link">
  <div class="client-link-title">Ссылка</div>
  <div class="client-link-subtitle">Личная ссылка для приглашения в проект</div>
  <div class="client-link-row">
    <input #selectInput class="default-input" value="https://lk.moleson.pro/ref/{{user.referralLink}}">
    <div class="copy-text" (click)="copyText()"></div>
  </div>
  <div class="client-link-social">
    <div class="client-link-social-title">Делитесь в соц. сетях</div>
    <div class="client-link-social-row">
      <div class="client-link-social-block" [style.color]="'#4A76A8'" [inlineSVG]="'/assets/svg-icon/social/vk.svg'"></div>
      <div class="client-link-social-block" [style.color]="'#3B5998'" [inlineSVG]="'/assets/svg-icon/social/fb.svg'"></div>
      <div class="client-link-social-block" [inlineSVG]="'/assets/svg-icon/social/odn.svg'"></div>
    </div>
  </div>
</div>
