<ng-container *ngIf="transactionsCount === 0">


  <div *ngIf="franchise.progress < 100" class="income">


    <div class="row min-income">
      <div class="col-md-8 card-title-left flex-middle-left">
        Информация
      </div>
      <div class="col-md-4">
        <div class="percent-income">+{{franchise.profitability}} %</div>
      </div>
    </div>

    <div class="row min-income">
      <div class="col-md-8">
        <p class="country-icon-rus m-0">Россия</p>
      </div>
      <div class="col-md-4">
      </div>
    </div>


    <div class="progress-body">

      <div class="progress-row">
        <div class="progress-participant">Статус</div>
        <div class="progress-participant bold-title"><div class="status-block-point" [style.background-color]="franchise.color"></div>В работе</div>
      </div>

      <div class="progress-row">
        <div class="progress-participant">Этап</div>
        <div class="progress-participant bold-title capitol"><div class="status-block-point" [style.background-color]="franchise.color"></div>{{franchise.status.title}}</div>
      </div>

      <div class="progress-row">
        <div class="progress-participant-smaller">Прогресс</div>
        <div class="progress-participant-smaller bold-title green-text">{{franchise.progress + '%'}}</div>
      </div>
      <div class="progress-row">
        <div class="progress-bar">
          <div class="progress-bar-full"  [style.background-color]="franchise.color" [style.width]="franchise.progress + '%'"></div>
        </div>
      </div>
      <div class="progress-row">
        <div class="progress-participant-smaller">Участнков</div>
        <div class="progress-participant-smaller bold-title">{{franchise.investors.length}}</div>
      </div>

      <div class="progress-row">
        <div class="progress-participant">Для выкупа доступно</div>
        <div class="progress-participant bold-title">{{franchise.formatRemainCost}} $</div>
      </div>

      <div class="progress-row">
        <div class="progress-participant">Долей доступно</div>
        <div class="progress-participant bold-title">{{franchise.remainStocks}}</div>
      </div>

      <div class="progress-row">
        <div class="progress-participant">Доходность (% в год)</div>
        <div class="progress-participant bold-title green-text">{{franchise.profitability}} %</div>
      </div>

      <div class="progress-row">
        <div class="progress-participant">Цель</div>
        <div class="progress-participant bold-title">{{franchise.formatCost}} $ / {{franchise.formatCostRub}} ₽</div>
      </div>

    </div>
    <div class="income-body">
      <div class="income-body-row">
        <div class="income-btn income-btn-orange" [routerLink]="'./payment'">Купить доли</div>
      </div>
    </div>
  </div>

</ng-container>

<div *ngIf="franchise.progress < 100 && transactionsCount > 0" class="income">

  <div class="income-header">
    <div class="income-header-present-block">
      {{franchise.profitability}} %
    </div>
    <div class="income-header-title">
      Прогнозируемая доходность в год
    </div>
  </div>

  <div class="income-body">
    <div class="income-body-row">
      <div class="income-body-title">Общая стоимость франшизы</div>
      <div class="income-body-cost">
        {{franchise.formatCost}} $ / {{franchise.formatCostRub}} ₽
      </div>
    </div>
    <div class="income-body-row">
      <div class="income-body-title">Стоимость доли</div>
      <div class="income-body-cost" *ngIf="franchise.stock">
        {{franchise.stock.price * 0.01}} $
      </div>
    </div>
    <div class="income-body-row">
      <div class="income-btn" [routerLink]="'./payment'">Купить долю</div>
    </div>
  </div>
</div>
<div *ngIf="franchise.progress >= 100" class="income">
  <div class="income-body">
    <div class="income-body-row">
      <div class="income-finish">
        <div class="income-finish-ico" [inlineSVG]="'/assets/svg-icon/success.svg'"></div>
      </div>
    </div>
    <div class="income-body-row">
      <div class="income-body-finish-title">Сбор средств завершен</div>
      <div class="income-body-finish-desc">Сбор средств для данной франшизы завершен, ознакомьтесь с остальными проектами для инвестирования</div>
    </div>
    <div class="income-body-row">
      <div class="income-btn finish-btn" [routerLink]="'/franchises'">Смотреть все проекты</div>
    </div>
  </div>
</div>
