<div [class.hide-header]="!showHeader">
  <div class="page-element-header p-0 pb-4 page-element-header-full-line d-flex justify-content-between">
    <div class="page-element-header-title">Аналитика</div>
    <div class="btn btn-header btn-primary desktop-show font-weight-bold btn-more" [routerLink]="'/analytics'">Подробнее</div>
  </div>
  <div class="analytics">
    <div class="analytics-block">
      <canvas #canvas id="canvas"></canvas>
    </div>
    <div class="analytics-block">
      <div class="statistic-row border-top">
        <div class="statistic-title">
          <div class="statistic-type" [style.background-color]="'#31B984'"></div>
          В работе
        </div>
        <div class="statistic-cost" [style.color]="'#31B984'">
          4 025 $ (+ 23 %)
        </div>
      </div>
      <div class="statistic-row border-top">
        <div class="statistic-title">
          <div class="statistic-type" [style.background-color]="'#FF9F19'"></div>
          Запуск
        </div>
        <div class="statistic-cost">
          805 $
        </div>
      </div>
      <div class="statistic-row border-top">
        <div class="statistic-title">
          <div class="statistic-type" [style.background-color]="'#FF9F19'"></div>
          Сбор инвестиций
        </div>
        <div class="statistic-cost">
          2 025 $
        </div>
      </div>
      <div class="statistic-row border-top statistic-row-end">
        <div class="statistic-end">
          Всего
        </div>
        <div class="statistic-end-cost">
          6 025 $ (23%)
        </div>
      </div>
      <div class="btn btn-secondary w-100 mobile-show pt-2 pb-2 btn-more" [routerLink]="'/analytics'">Подробнее</div>
    </div>
  </div>
</div>
