<div class="page-element m-0">
  <div class="page-element-header p-0 pb-4 page-element-header-full-line d-flex justify-content-between">
    <div class="page-element-header-title">Аналитика</div>
    <div class="btn btn-primary">Подробнее</div>
  </div>
  <canvas #canvas id="canvas"></canvas>
  <div class="statistic-row border-top">
    <div class="statistic-title">
      <div class="statistic-type" [style.background-color]="'#31B984'"></div>
      В работе
    </div>
    <div class="statistic-cost" [style.color]="'#31B984'">
      4 025 $ (+ 23 %);
    </div>
  </div>
  <div class="statistic-row border-top">
    <div class="statistic-title">
      <div class="statistic-type" [style.background-color]="'#FF9F19'"></div>
      Запуск
    </div>
    <div class="statistic-cost">
      805 $
    </div>
  </div>
  <div class="statistic-row border-top">
    <div class="statistic-title">
      <div class="statistic-type" [style.background-color]="'#FF9F19'"></div>
      Сбор инвестиций
    </div>
    <div class="statistic-cost">
      2 025 $
    </div>
  </div>
  <div class="statistic-row border-top">
    <div class="statistic-end">
      Всего
    </div>
    <div class="statistic-end-cost">
      6 025 $ (23%)
    </div>
  </div>
</div>
