<div *ngIf="user" class="profile-block">
  <div class="profile-block-col small-col">
    <div class="page-element">
      <div class="profile-block-avatar">
        <div class="profile-block-avatar-header">
          <div class="profile-current-avatar" [style.background-image]="'url(' + user.picture + ')'"
               id="pict-load"></div>
          <div class="profile-current-name">{{user.fullName}}</div>
        </div>
        <div class="profile-block-avatar-body">
          <div class="profile-avatar-info">
            <input type="file" class="custom-drag-and-drop" (change)="loadImg($event.target)">
            <div class="profile-avatar-info-title">Ваша фотография</div>
            <div class="profile-avatar-info-desc">
              <p>Формат: jpeg, png</p>
              <p>Максимальный размер файла: 1 Mb</p>
              <p>Рекомендованный размер: 200х200 px</p>
            </div>
            <div class="moleson-btn moleson-btn-secondary">
              загрузить
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-block-mail">
      <div class="page-element">
        <div class="mail-status">
          <div class="success-ico" [inlineSVG]="'/assets/svg-icon/success.svg'"></div>
          Почта подтверждена
        </div>
        <div class="mail-input">
          <input class="default-input" type="text" [(ngModel)]="user.email" disabled>
        </div>
        <!--div class="moleson-btn moleson-btn-secondary">изменить</div-->
      </div>
      <div class="page-element">
        <div class="input-row">
          <div class="mail-status" >Телефон</div>
          <input type="text" class="default-input" [(ngModel)]="user.phone">
        </div>
        <div class="moleson-btn moleson-btn-secondary" (click)="updatePhone()">изменить</div>
      </div>
    </div>
  </div>
  <div class="profile-block-col">
    <div class="profile-block-verification" *ngIf="!user.isVerified">
      <div class="page-element">
        <div class="verification-status"></div>
        <div class="moleson-btn moleson-btn-outline-green" [routerLink]="['/cabinet/verification/step4']">Верифицировать</div>
      </div>
    </div>
    <app-notification [type]="notificationType" [text]="notificationText"></app-notification>
    <div class="profile-block-information">
      <div class="page-element">
        <form [formGroup]="form">
        <div class="page-element-header page-element-header-full-line">
          <div class="page-element-title">Личная инофрмация</div>
        </div>
        <div class="information-body">
          <div class="input-row {{getErrorClass('fullname0')}}">
            <div class="default-input-title">Фамилия</div>
            <input type="text" class="default-input" formControlName="fullname0">
          </div>
          <div class="input-row {{getErrorClass('fullname1')}}">
            <div class="default-input-title">Имя</div>
            <input type="text" class="default-input" formControlName="fullname1">
          </div>
          <div class="input-row {{getErrorClass('fullname2')}}">
            <div class="default-input-title">Отчество</div>
            <input type="text" class="default-input" formControlName="fullname2">
          </div>
          <div class="input-row {{getErrorClass('gender')}}">
            <div class="default-input-title">Пол</div>
            <label>
              <input type="radio" name="gender" value="м" formControlName="gender">
              мужской
            </label>
            <label>
              <input type="radio" name="gender" value="ж" formControlName="gender">
              женский
            </label>
          </div>
          <div class="input-row">
            <div class="default-input-title">Дата рождения</div>
            <div class="input-select-row">
              <div class="custom-arrow-dropdown default-field">
                <select class="form-control {{getErrorClass('date0')}}"  formControlName="date0">
                  <option *ngFor="let i of year">{{i}}</option>
                </select>
              </div>
              <div class="custom-arrow-dropdown default-field">
                <select class="form-control {{getErrorClass('date1')}}" formControlName="date1">
                  <option *ngFor="let i of month; let val = index"
                          value="{{convertDate(2, val + 1 + '')}}">{{i}}</option>
                </select>
              </div>
              <div class="custom-arrow-dropdown default-field">
                <select class="form-control {{getErrorClass('date2')}}" formControlName="date2">
                  <option *ngFor="let i of days">{{i}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="input-row {{getErrorClass('registrationAddress')}}">
            <div class="default-input-title">Адрес регистрации</div>
            <input type="text" class="default-input" formControlName="registrationAddress">
          </div>
          <div class="input-row {{getErrorClass('passportId')}}">
            <div class="default-input-title">Номер паспорта</div>
            <input type="text" class="default-input" formControlName="passportId">
          </div>
          <div class="input-row {{getErrorClass('citizenship')}}">
            <div class="default-input-title">Гражданство</div>
            <input type="text" class="default-input" formControlName="citizenship">
          </div>
          <div class="input-row {{getErrorClass('issued')}}">
            <div class="default-input-title">Кем выдан</div>
            <input type="text" class="default-input" formControlName="issued">
          </div>
          <div class="input-row {{getErrorClass('dateIssued')}}">
            <div class="default-input-title">Дата выдачи</div>
            <input type="text" class="default-input" formControlName="dateIssued">
          </div>
          <div class="input-row {{getErrorClass('departmentCode')}}">
            <div class="default-input-title">Код подразделения</div>
            <input type="text" class="default-input" formControlName="departmentCode">
          </div>
          <!--div class="input-row {{getErrorClass('INN')}}">
            <div class="default-input-title">ИНН</div>
            <input type="text" class="default-input" formControlName="INN">
          </div>
          <div class="input-row {{getErrorClass('SNILS')}}">
            <div class="default-input-title">СНИЛС</div>
            <input type="text" class="default-input" formControlName="SNILS">
          </div-->
          <div class="moleson-btn moleson-btn-secondary" (click)="update()">Сохранить изменения</div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-loading *ngIf="!user"></app-loading>
