<div class="page-area">
  <div class="main-block">
    <div class="block-header">
      <div class="back-btn" [routerLink]="'/dashboard'">
        <div [inlineSVG]="'/assets/svg-icon/arrow.svg'" class="back-btn-arrow"></div>
        Назад
      </div>
      <div class="block-header-title">
        <h2>Мои операции</h2>
      </div>
    </div>
    <div class="page-element">
      <ng-container *ngIf="operationsService.operationListDateHash !== null">
        <div *ngFor="let item of operationsService.operationListDateHash | keyvalue" class="operations-list">
          <div class="operations-area">
            <div class="operations-data">{{item.key}}</div>
            <div class="operations-container">
              <div *ngFor="let operationItem of item.value" class="operations-row">
                <div class="operations-col">
                  <div *ngIf="operationItem.ico !== null" class="operations-bg-ico" [style.background-color]="operationItem.status">
                    <div *ngIf="operationItem.typeIco === 'svg'" class="operations-ico" [inlineSVG]="operationItem.ico"></div>
                    <div *ngIf="operationItem.typeIco !== 'svg'" class="operations-ico operations-png-ico" [style.background-image]="'url(' + operationItem.ico + ')'"></div>
                  </div>
                  <div *ngIf="operationItem.ico === null" class="operations-bg-ico">
                  </div>
                  <div class="operations-title">{{operationItem.typeAction}}</div>
                </div>
                <div class="operations-col">
                  <div class="operations-sum" [style.color]="operationItem.status">{{operationItem.type ? '+' : '-'}}{{operationItem.quantity}} $</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="right-block">
  </div>
</div>
