<div class="page-area">
  <div class="main-block">
    <div class="block-header">
      <div class="back-btn" [routerLink]="'/dashboard'">
        <div [inlineSVG]="'/assets/svg-icon/arrow.svg'" class="back-btn-arrow"></div>
        Назад
      </div>
      <div class="block-header-title">
        <h2>Мои операции</h2>
      </div>
    </div>
    <div class="page-element">
      <div *ngFor="let operation of operationList" class="operations-list">
        <div class="operations-area">
          <div class="operations-data">{{operation.data}}</div>
          <div class="operations-container">
            <div *ngFor="let operationItem of operation.operation" class="operations-row">
              <div class="operations-col">
                <div *ngIf="operationItem.ico !== null" class="operations-bg-ico" [style.background-color]="operationItem.color">
                  <div *ngIf="operationItem.typeIco === 'svg'" class="operations-ico" [inlineSVG]="operationItem.ico"></div>
                  <div *ngIf="operationItem.typeIco !== 'svg'" class="operations-ico operations-png-ico" [style.background-image]="'url(' + operationItem.ico + ')'"></div>
                </div>
                <div *ngIf="operationItem.ico === null" class="operations-bg-ico">
                </div>
                <div class="operations-title">{{operationItem.name}}</div>
              </div>
              <div class="operations-col">
                <div class="operations-sum" [style.color]="operationItem.color">{{operationItem.type ? '+' : '-'}}{{operationItem.sum}} $</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-block">
  </div>
</div>
