.btn-header {
  width: 70px;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-body {
  &::-webkit-scrollbar{width: 0; }
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 531px;
  .hor-line {
    height: 100vh;
    margin-top: 5px;
    width: 1px;
    background: #C4C4C4;
  }
  .operation-history {
    width: 100%;
    padding-left: 15px;
    .operation-list {
      position: relative;
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .operation-list-type {
        width: 13px;
        height: 13px;
        position: absolute;
        top: 5px;
        background-color: red;
        border-radius: 50%;
        left: -22px;
      }
      .operation-list-title {
        font-size: 14px;
        color:#051C2C;
      }
      .operation-list-money {
        font-weight: bold;
        font-size: 18px;
      }
      .operation-list-date {
        color: #051C2C;
        font-size: 14px;
        opacity: 0.7;
      }
    }
  }
}
.mobile-show {
  display: none;
}
@media screen and (max-width: 1024px){
  .page-element {
    margin-top: 0;
  }
  .page-body {
      max-height: 358px;
      padding-left: 10px;
      overflow-y: auto;
    .hor-line  {
      height: 50vh;
    }
  }
  .mobile-show {
    display: block;
  }
  .desktop-show {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .page-element-header {
    display: none!important;
  }
}
