.news-container {
  height: 500px;
  display: flex;
  margin-top: -30px;
}
.btn-news {
  width: 160px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.news-col {
  &:first-child{
    margin-right: 30px;
  }
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  .news-block {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-position: 50%;
    justify-content: flex-end;
    height: 100%;
    margin-top: 30px;
    .news-title {
      font-weight: bold;
      font-size: 20px;
      color: #FFFFFF;
    }
    .news-desc {
      font-size: 14px;
      color: #FFFFFF;
      opacity: 0.8;
    }
  }
}
@media screen and (max-width: 1024px) {
.block-title {
  margin-top: 50px;
  margin-bottom: 20px;
}
.btn-outline-primary {
  margin-top: 12px;
}
  .slider {

    overflow: hidden;
    overflow-x: auto;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
    max-width: unset;
  }
  .news-container {
    &::-webkit-scrollbar { width: 0; }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    height: 180px;
    margin-top: 0;
    flex-direction: row;
    .news-col {
      flex-direction: row;
      margin-right: 0;
      width: auto;
      .news-block {
        margin-left: 16px;
        border-radius: 5px;
        margin-top: 0;
        margin-right: 8px;
        background-repeat: no-repeat;
        width: 214px;
        .news-title {
          font-size: 16px;
        }
        .news-display {
          font-size: 10px;
        }
        background-position: 50%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .news-container {

    .news-col {
      margin-right: 17px;
    }
    .news-block {
      width: 55%;
      padding: 16px 17px;
      .news-desc {
        font-size: 10px;
        width: 70%;
        margin-top: 5px;
      }
    }
  }
  .btn.btn-outline-primary {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
