<app-notification [type]="msgType" [text]="msgText"></app-notification>

<div class="auth-form-body">
  <div class="auth-form-body-row">
    <span class="bold-title">Сброс пароля</span>
    <label>Введите Ваш Email, и мы отправим Вам письмо со ссылкой для сброса пароля</label>
  </div>

  <div class="auth-form-body-row">
    <label>Email</label>
    <input type="text" [(ngModel)]="email" class="default-input">
  </div>

  <div class="mt-3">
    <recaptcha
      [formControl]="myRecaptcha"
      (scriptLoad)="onScriptLoad()"
      (scriptError)="onScriptError()"
    >
    </recaptcha>
  </div>

  <div class="auth-form-body-row flex-fix">
    <button class="btn moleson-btn-secondary width-50" (click)="reset()" [class.btnDisable]="formLoad" [disabled]="formLoad">Запросить</button>
    <div class="btn btn-outline-primary width-50" [routerLink]="'/auth/login'">Назад</div>
  </div>
  <app-social-auth [title]="'Или войдите через социальную сеть'"></app-social-auth>
</div>
