.profile-block {
  position: absolute;
  display: flex;
  transition: 0.2s;
  padding-left: 42px;
  left: 0;
  height: 70px;
  top: 0;
  //width: 84px;
  padding-right: 29px;
  align-items: center;
}
.profile-avatar {
  min-width: 42px;
  height: 42px;
  border: 1px solid white;
  border-radius: 50%;
  background-position: 50%;
  margin-right: 15px;
  background-size: cover;
}
.profile-info {
  position: relative;
  padding-right: 30px;
  .profile-name {
    min-width: 100px;
  }
  .profile-status {
    font-size: 12px;
    &:before {
      content: "";
      display: inline-block;
      border-radius: 50%;
      margin-bottom: 2px;
      margin-right: 7px;
      width: 7px;
      height: 7px;
      background-color: #31B984;
    }
  }
}

.open-block {
  background-color: white;
  top: 70px;
  left: 0;
  z-index: 10;
  padding: 0 20px;
  width: 100%;
  position: absolute;
  transition: 0.2s;
  height: 0;
  overflow: hidden;
  color: #051c2c;
  .open-block-row {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid #dee2e6;
    .open-block-ico {
      margin-right: 10px;
      width: 19px;
      height: 19px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .open-block-title {
    }
    .open-block-link {
      font-size: 14px;
      text-decoration-line: underline;
      color: #31B984;
    }
  }
}
.open-profile-block {
  background-color: white;
  color: #051C2C;
  .close {
    pointer-events: auto;
  }
  .open-block {
    height: 378px;
  }
  .open-block-mini {
    height: 248px;
  }
}
@media screen and (max-width: 1024px) {
  .profile-block {
    position: static;
    left: unset;
    padding: 0 16px;
    .profile-name {
      font-weight: bold;
    }
  }
  .mobile-header-title {
    position: relative;
    &:after {
      top: 32px;
      right: 16px;
    }
  }

  .open-profile-block {
    &:after {
      transform: rotate(180deg);
    }
    .open-block {
      max-height: 390px;
      height: 0%;
    }
  }
  .close {
    display: none;
  }
  .open-block {
    position: relative;
    top:20px;
    padding: 0;
    height: 0;
    max-height: 0;

    .open-block-row {
      border-top: 0;
      font-weight: normal;
      padding: 15px 0;
      font-size: 16px;
      .open-block-ico {
        width: 23px;
        height: 23px;
      }
      .open-block-title {
      }
      .open-block-link {
        font-size: 12px;
      }
    }
  }
  .mobile-header-title {
    font-weight: bold;
    font-size: 18px;
    padding: 20px 16px;
    border-top: 1px solid #dee2e6!important;
  }
}
