<app-notification [type]="msgType" [text]="msgText"></app-notification>
<div class="auth-form-body">
  <div class="auth-form-body-row">
    <label>Введите ваш Email</label>
    <input type="text" [(ngModel)]="email" class="default-input">
  </div>
  <div class="auth-form-body-row password-row">
    <label>Придумайте пароль</label>
    <input type="password" [(ngModel)]="password" class="default-input">
  </div>
  <div class="auth-form-body-row password-row">
    <label>Подтвердите пароль</label>
    <input type="password" [(ngModel)]="passwordRepeat" class="default-input">
    <div class="password-options">
      <label for="accept-date" class="save-password">
        <div class="custom-checkbox">
          <input id="accept-date" [(ngModel)]="accept1" type="checkbox">
        </div>
        Согласие на обработку персональных данных
      </label>
    </div>
    <div class="password-options">
      <label for="accept-info" class="save-password">
        <div class="custom-checkbox">
          <input id="accept-info" [(ngModel)]="accept2" type="checkbox">
        </div>
        Я ознакомлен со всеми положениями и правилами использования.
      </label>
    </div>
  </div>
  <div class="auth-form-body-row">
    <div class="btn moleson-btn-secondary" (click)="register()">Зарегистрироваться</div>
  </div>
  <app-social-auth [title]="'Зарегистрируйтесь через социальную сеть:'"></app-social-auth>
</div>
