.invite {
  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    div {
      padding: 5px;
      font-size: 14px;
    }
    a {
      color: #FF9F19;
    }
  }
  .h2 {
    font-family: Gilroy;
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    font-weight: bolder;
  }
  .h3 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 150%;
  }
  input {
    background: white;
  }
  .page-area {
    margin-top: -30px;
    width: 50%;
  }
  .page-element {
    background-color: transparent;
    padding: 0;
    margin-bottom: 20px;
  }
  .item-shorten {
    max-width: 290px;
  }
}

.docs-row {
  color: #212529;
  border-bottom: 1px solid #F4F4F5;
  padding: 30px 0;
  align-items: center;
  display: flex;
  text-decoration: none;
  &:last-child {
    border: none;
  }
  .docs-ico {
    margin-right: 10px;
  }
  .download-size {
    margin-left: auto;
    margin-right: 10px;
    white-space: nowrap;
  }
}
.block-header {
  display: none;
}
@media screen and (max-width: 1024px) {
  .block-header {
    padding: 0 16px;
    margin-top: 15px;
    display: flex;
  }
  .page-element {
    background: transparent;
    padding: 0;
    .page-element-header {
      display: none;
    }
  }
  .docs-row {
    margin: 16px;
    border-radius: 4px;
    border: none;
    padding: 16px;
    background: white;

  }
  .invite {
    .page-area {
      padding: 16px;
      width: 100%;
    }
    .item-shorten {
      max-width: 100%;
    }
  }
}


.client-link-title {
  font-weight: bold;
}
.client-link-subtitle {
  font-size: 14px;
  line-height: 19px;
  margin-top: 2px;
}
.client-link-row {
  margin-top: 2px;
  position: relative;
  .default-input {
    padding: 5px 15px;
    font-size: 14px;
  }
  .copy-text {
    background-image: url(/assets/svg-icon/copy.svg);
    position: absolute;
    cursor: pointer;
    width: 12px;
    height: 12px;
    top: 27px;
    right: 10px;
  }
}
.client-link-social {
  margin-top: 16px;
  .client-link-social-title {
    font-size: 12px;
  }
  .client-link-social-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .client-link-social-block {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 35px;
      background: #F4F4F5;
      border-radius: 4px;
    }
  }
}
