<div class="partners-container">
  <div class="partners-block black-block">
    <div class="partners-block-stars-row">
      <div class="partners-block-star" [inlineSVG]="'/assets/svg-icon/partners/start.svg'"></div>
      <div class="partners-block-star" [inlineSVG]="'/assets/svg-icon/partners/start.svg'"></div>
      <div class="partners-block-star start-empty" [inlineSVG]="'/assets/svg-icon/partners/start-empty.svg'"></div>
    </div>
    <div class="partners-block-info">
      <div class="partners-block-name">Клиентский статус</div>
      <div class="partners-block-status" *ngIf="tokenService.getUser() !== null">{{tokenService.getUserStatus()}}</div>
    </div>
  </div>
  <div *ngFor="let block of blocks" class="partners-block">
    <div class="partners-block-name">{{block.name}}</div>
    <div class="partners-block-cost">{{number_formatted(block.cost)}} {{block.dollars ? ' $' : ''}}</div>
  </div>
</div>

<div class="partners-lists desktop-show">
  <div class="partners-lists-title">Структура регистраций</div>
  <div class="partners-row-header grid-row">
    <div class="partners-row-col">
      <div class="col-name"> </div>
    </div>
    <div class="partners-row-col">
      <div class="col-name">Ур.</div>
    </div>
    <div class="partners-row-col">
      <div class="col-sum-my">
        Клиент
      </div>
    </div>
    <div class="partners-row-col">
      <div class="col-sum-franchise">

      </div>
    </div>
    <div class="partners-row-col">
      <div class="col-count">
        Личные<br>инвестиции
      </div>
    </div>
    <div class="partners-row-col">
      <div class="col-sum-struct">
        Доли франшиз
      </div>
    </div>
    <div class="partners-row-col">
      <div class="col-sum-struct">
        Количество регистраций
      </div>
    </div>
    <div class="partners-row-col">
      <div class="col-sum-struct">
        Общая сумма<br> инвестиций
      </div>
    </div>
    <div class="partners-row-col">
      <div class="col-data">
        Дата регистрации
      </div>
    </div>
    <div class="partners-row-col">
      <div class="col-data">

      </div>
    </div>
  </div>

  <div class="partners-row grid-row" *ngFor="let item of partnersList">
    <div class="partners-col">
      <div class="more-btn" [inlineSVG]="'/assets/svg-icon/partners/arrow.svg'"></div>
    </div>
    <div class="partners-col">
      <div class="partners-lvl">{{item.lvl}}</div>
    </div>
    <div class="partners-col">{{item.link.fullName}}</div>
    <div class="partners-col">
      <div class="info-ico" [inlineSVG]="'/assets/svg-icon/partners/info.svg'"></div>
    </div>
    <div class="partners-col">{{item.link.balance}}$</div>
    <div class="partners-col">
      <div class="ico"></div>
      <div class="ico"></div>
      <div class="ico"></div>
    </div>
    <div class="partners-col">32</div>
    <div class="partners-col">{{item.link.amountOfPurchases}} $</div>
    <div class="partners-col">
      <div>{{item.link.dateCreate| date:'d.MM.y' }}</div>
    </div>
    <div class="partners-col">
      <div class="star"></div>
    </div>
  </div>

<!--div class="pagination">
  <div class="pagination-btn btn-next disable-btn" [inlineSVG]="'/assets/svg-icon/partners/arrow.svg'"></div>
  <div class="pagination-number-row">
    <div class="pagination-number active-number">1</div>
    <div class="pagination-number">2</div>
    <div class="pagination-number">3</div>
    <div class="pagination-number">4</div>
    <div class="pagination-number">5</div>
    <div class="pagination-number">6</div>
  </div>
  <div class="pagination-btn btn-prev" [inlineSVG]="'/assets/svg-icon/partners/arrow.svg'"></div>
</div-->


