.partners-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
  .partners-block {
    margin-right: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 290px;
    width: 100%;
    height: 129px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    .partners-block-name {
      padding-right: 40px;
      line-height: 16px;
      font-size: 14px;
    }
    .partners-block-cost {
      font-size: 25px;
      line-height: 28px;
      font-weight: bold;
    }
    &:last-child {
      padding: 20px 18px;
    }
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  .partners-block-wide {
    margin-right: 0px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    padding: 20px;
    .partners-block-name {
      padding-right: 40px;
      line-height: 16px;
      font-size: 14px;
    }
    .partners-block-cost {
      font-size: 25px;
      line-height: 28px;
      font-weight: bold;
    }
    &:last-child {
      padding: 20px 18px;
    }
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
    .partners-block-stars-row {
      display: flex;
      width: 90px;
      margin-right: 18px;
      justify-content: space-between;
      align-items: center;

      .partners-block-star {
        display: flex;
        width: 18px;
      }
    }
    .bigger-icon {
      width: 18px;
      height: 18px;
    }
    .partners-block-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
    .partners-block-title {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: flex-start;
      padding-top: 8px;
    }
  }

  .partners-block-stars-row {
    display: flex;
    width: 56px;
    justify-content: space-between;

    .partners-block-star {
      display: flex;
    }
  }
  .partners-block-info {
    position: relative;
    top: 3px;
  }
  .black-block {
    background-color: #051C2C;
    color: white;
    .partners-block-status {
      padding-left: 14px;
      font-size: 18px;
      position: relative;
      top: -1px;
      display: flex;
      align-items: center;
      &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        width: 8px;
        height: 8px;
        background-color: #31B984;
        border-radius: 50%;
      }
    }
  }
}
.grid-row {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 0.7fr 1fr repeat(5, 1fr) 2fr 2.5fr 0.5fr;
}
.partners-lists {
  margin-top: 50px;
  .partners-lists-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
  }
  .partners-row-header {
    font-size: 12px;
    margin-top: 29px;
    line-height: 14px;
    .partners-row-col {
      justify-content: flex-start;
    }
  }
}

.partners-row {
  margin-top: 30px;
  padding: 15px 0;
  background-color: white;
  border-radius: 5px;

  .partners-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    &.partners-col-data {
      flex-direction: column;
      align-items: flex-start;
    }
    .partners-lvl {
      line-height: 15px;
      width: 24px;
      font-size: 12px;
      font-weight: bold;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #31B984;
      color: white;
      padding-right: 1px;
      padding-top: 2px;
    }
    .info-ico {
      margin: 0 auto;
    }
  }
}

.more-btn {
  margin-left: auto;
  transform: rotate(180deg);
}
.pagination {
  margin-top: 30px;
  .pagination-number-row {
    display: flex;
    background-color: white;
    border-radius: 5px;
    .pagination-number {
      height: 39px;
      width: 39px;
      justify-content: center;
      align-items: center;
      display: flex;
      &.active-number {
        border-radius: 5px;
        background-color: #051C2C;
        color: white;
      }
    }
  }
  .pagination-btn {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    height: 39px;
    width: 39px;
    border-radius: 5px;
    &.disable-btn {
      opacity: 0.7;
    }
    &.btn-prev {
      transform: rotate(90deg);
      margin-left: 30px;
    }
    &.btn-next {
      margin-right: 30px;
      transform: rotate(-90deg);
    }
  }
}
.partners-row-img {
  width: 21px;
  height: 21px;
  background-position: 50%;
  background-size: contain;
  border-radius: 50%;
  position: relative;
  left: -5px;
  &:first-child {
    left: 0;
  }

  &:last-child {
    left: -10px;
  }
}

.partners-row-col {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.partners-block {
  display: flex;
}
.moleson-card {
  border: 0px;
  width: 30%;

  // Header
  > .card-header {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #051C2C;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    //height: $card-header-height;
    min-height: 70px;
    .status-head {
      margin-top: 8px;
    }

    // Title
    .card-title {
      display: flex;
      align-items: center;
      margin-left: 0;
      color: #FFFFFF !important;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;

      //flex-wrap: wrap;

      .card-icon {
        margin-right: 0.75rem;
        line-height: 0;

        i {
          font-size: 1.25rem;
          color: #7E8299;
          line-height: 0;

          &:after,
          &:before {
            line-height: 0;
          }
        }

      }

      &,
      .card-label {
        font-weight: 500;
        font-size: 1.275rem;
        color: #181C32;
      }

      .card-label {
        margin: 0 0.75rem 0 0;
        flex-wrap: wrap;
      }

      // Description
      small {
        color: #B5B5C3;
        font-size: 1rem;
      }
    }
    .card-subtitle {
      color: white;
      font-size: 12px;
      opacity: 0.7;
    }

    // Toolbar
    .card-toolbar {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;
      flex-wrap: wrap;
    }

    // Line tabs integration
    &.card-header-tabs-line {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      align-items: stretch;

      .card-toolbar {
        margin: 0;
      }

      .nav {
        border-bottom-color: transparent;

        .nav-item {
          align-items: stretch;
        }

        .nav-link {
          padding-top: 2rem;
          padding-bottom: 2rem;
        }
      }
    }

    &.card-header-right {
      justify-content: flex-end;
    }
  }

  // Body
  > .card-body {
    padding: 2rem 2rem;
  }

  // Footer
  > .card-footer {
    background-color: transparent;
  }
  .level-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card-text {
      margin-top: 12px;
      margin-bottom: 0px;
    }
  }
}
.marketing-ul {
  li {
    list-style: square;
    color: #31B984;
    font-size: 24px;
  }
  li li {
    color: #FF9800;
  }
  li span {
    color: #051C2C;
    font-size: 16px;
  }
}
@media screen and (max-width: 4000px) {
  .gradient-block {
    background: #051C2C;
    background-image: url("/assets/svg-icon/partners/waves.svg");
    background-image: url("/assets/svg-icon/partners/waves.svg"), linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-position: right;
  }
  .level-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .moleson-card {
    border: 0px;
    width: 30%;
  }
}

@media screen and (max-width: 1320px) {
  .partners-container {
    justify-content: space-between;
    .partners-block {
      max-width: 48%;
      margin-right: 20px;
      &:nth-child(3n + 3) {
        margin-right: 20px;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }

}

@media screen and (max-width: 1024px) {

  .btn-more {
    background-color: #051C2C;
    width: 33px;
    height: 19px;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .partners-row {
    height: auto;
    padding: 20px 30px;
    margin: 40px 0;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    .partners-row-head {
      border-bottom: 1px solid #cdd2d5;
      margin-right: -30px;
      padding: 0 30px 20px 30px;
      margin-left: -30px;
      grid-column: span 3;
      display: flex;
      justify-content: space-between;
    }
    .partners-row-col {
      flex-direction: column;
      align-items: flex-start;
    }
    .partners-row-col-name {
      opacity: 0.7;
    }
    .partners-row-col-value {
      display: flex;
      margin-top: 15px;
      font-size: 16px;
      &.fsz-14 {
        font-size: 14px;
      }
    }
    .data-block {
      display: flex;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
  .level-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .moleson-card {
    border: 0px;
    width: 100%;
    margin-bottom: 18px;
  }


}

@media screen and (max-width: 480px) {


  .partners-row {
    grid-template-columns: 1fr;
    grid-template-areas:  "post-1"
                          "post-2"
                          "post-3"
                          "post-4"
                          "post-5"
                          "post-6";
    .partners-row-head {
      grid-column: span 1;
      .partners-row-col {
        border-bottom: 0;
        flex-direction: column;
      }
    }
    .partners-row-col {
      padding-bottom: 15px;
      flex-direction: row;
      border-bottom: 1px solid #051C2C33;
      justify-content: space-between;

    }
  }
  .partners-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 15px;
    margin-left: -15px;
    margin-right: -15px;
    &:after {
      min-width: 1px;
      content:'';
    }
    &::-webkit-scrollbar { width: 0; }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    .partners-block {
      min-width: 239px;
      max-width: 239px;
      margin-right: 24px!important;
    }
  }
  .partners-col-1 {
    grid-area: post-1;
  }
  .partners-col-2 {
    grid-area: post-2;
  }
  .partners-col-3 {
    grid-area: post-3;
  }
  .partners-col-4 {
    grid-area: post-4;
  }
  .partners-col-5 {
    grid-area: post-5;
  }
  .partners-col-6 {
    border-bottom: 0!important;
    grid-area: post-6;
  }
  .gradient-block {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #051C2C;
  }

}
/* --- */
.white-table {
  background-color: white;
  border-radius: 5px;
  thead th {
    border-top: 0px;
    border-bottom: 0px;
  }
  thead th, tbody th {
    padding: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #051C2C;
  }
}

/* --- */

.card-franchise-img-row {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}
.arrow-up {
  position: relative;
  margin-left: 20px;
  &:after {
    top: 6px;
    content: "";
    position: absolute;
    left: -20px;
    height: 12px;
    width: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/assets/svg-icon/arrow-up.svg);
  }
}
.pre-name {
  &:before{
    content: 'Франшиза “';
  }
  &:after{
    content: '”';
  }
}
.mobile-show {
  display: none;

}
.page-element {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}
.progress-container-result {
  display: flex;
  max-width: 420px;
  justify-content: space-between;
  .result-cost {
    font-weight: bold;
    margin-top: 5px;
  }
}
.card-franchise {
  height: 319px;
  padding: 30px 42px;
  display: flex;
  justify-content: space-between;
  .page-element-header {
    margin-bottom: 0;
  }
  .franchise-head {
    display: flex;
    padding: 2px 0 28px 0;
    justify-content: space-between;
    .country-col {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 5px;
    }
  }
  .franchise-avatar {
    width: 45px;
    border-radius: 50%;
    height: 45px;
    margin-right: 15px;
    background-size: contain;
  }
  .card-franchise-img {
    color: white;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 290px;
    position: relative;
    height: calc(100% + 60px);
    left: -42px;
    top: -30px;
    align-items: flex-start;
    font-weight: bold;
    padding: 30px;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: black;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.2;
      z-index: 0;
    }
    .status-block {
      display: flex;
      align-items: center;
      font-size: 14px;
      .status-block-point {
        border-radius: 50%;
        margin-right: 10px;
        width: 9px;
        height: 9px;
      }
    }
    .precent-block {
      font-size: 25px;
      border: 2px solid #31B984;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      width: 111px;
      height: 50px;
    }
    .fill-precent {
      background-color: #31B984;
      &:before {
        content: '+ ';
      }
    }
  }
  .card-franchise-info {
    width: 100%;
  }
  .name-block {
    padding: 0;
    margin-right: auto;
    p {
      margin-bottom: 5px;
      font-size: 14px;
    }
    .adresse {
      margin-bottom: 0;
    }
    b {
      font-size: 20px;
    }
  }
  .create-data {
    font-size: 14px;
    text-align: right;
    color: #051C2C;
    opacity: 0.7;
    padding: 0 3px;
  }
  .country-block {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 14px;
    text-align: right;
    &:before {
      content: "";
      background-image: url("/assets/svg-icon/rus.svg");
      display: block;
      padding: 8px;
      border-radius: 50%;
      margin-right: 9px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .progress-bar {
    width: 100%;
    height: 5px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #EEEEEE;
    .progress-bar-full {
      height: 100%;
      background-color: #FF9F19;
    }
  }
  .progress-container {
    margin-top: 17px;
  }
  .final-cost-title {
    font-size: 14px;
  }
  .progress-info {
    margin-top: 10px;
    height: 21px;
    display: flex;
    justify-content: space-between;
  }
  .card-bottom {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .desktop-show {
      margin-top: 27px;
      .final-cost {
        margin-top: 0;
      }
    }
    p{
      margin-bottom: 0;
    }
    .final-cost {
      margin-top: 16px;
      font-size: 20px;
      display: block;
    }
    .btn {
      padding: 10px 42px;
      font-weight: bold;
    }
    #final-cost {
      font-size: 20px;
    }
    .btn-franchise {
      width: 175px;
      height: 45px;
    }
  }
}

@media screen and (max-width: 1680px) {
  .card-franchise {
    .card-bottom {
      margin-top: 0;
      .btn {
        padding: 10px 22px;
      }
      #final-cost {
        font-size: 14px;
      }
    }
    .card-franchise-img{
      max-width: 190px;
      background-position: 50%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .card-franchise {
    height: auto;
    flex-direction: column;
    padding: 0;
    .card-franchise-img {
      padding: 20px;
      max-width: 100%;
      left: 0;
      top: 0;
      height: 130px;
    }
    .page-element-header {
      > .row {
        margin: 20px 0;
        align-items: center;
      }
    }
    .country-block {
      display: none;
    }
    .card-bottom {
      border-top: 2px solid #f4f4f5;
      padding-top: 10px;
      flex-direction: column;
      align-items: unset;
      .btn {
        width: 100%;
        margin: 20px 0;
      }
    }
    .franchise-avatar {
      width: 32px;
      margin-right: 15px;
      height: 32px;
    }
    .card-franchise-info {
      padding: 0 15px;
    }
    .name-block {

      p {
        margin-bottom: 5px;
        font-size: 12px;
      }
      b {
        font-size: 14px;
      }
    }
    .country-block {
      padding-left: 0;
    }
  }
}
.name-digit {
  font-weight: bolder;
}
.name-notes {
  font-size: 10px;
}
@media screen and (max-width: 1024px) {
  .desktop-show {
    display: none;
  }
  .card-franchise{
    .card-bottom {
      .final-cost {
        font-size: 16px;
      }
    }
  }
  .progress-container-result {
    flex-direction: column;
    .result-block {
      margin-bottom: 20px;
    }
  }
  .card-franchise-img{
    flex-direction: column-reverse!important;
    .card-franchise-img-row {
      flex-direction: row;
      align-items: center;
      width: 100%;
      display: flex;
      padding: 16px;
      .precent-block {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 57px;
        height: 26px;
        border-width: 1px;
      }
      .status-block {
        font-size: 12px;
      }
    }
  }

  .pre-name{
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
  h2 {
    padding-left: 16px;
    font-size: 30px;
  }
  .my-franchises-area:after {
    content: '';
    min-width: 30px;
  }

  .card-franchise {
    .progress-info-last {
      margin-bottom: 24px;
    }
    .card-bottom {
      font-size: 12px;
      .count-part {
        display: flex;
        margin-top: 9px;
        justify-content: space-around;
        .final-cost {
          font-size: 14px;
        }
      }
      .btn-franchise {
        margin-bottom: 32px;
      }
      padding-top: 24px;
      .final-cost {
        margin-top: 10px;
      }
      .final-cost-title{
        font-size: 12px;
      }
    }
    .franchise-head {
      padding: 20px 0;
    }
    .name-block {
      max-width: calc(100% - 50px);
      .pre-name {
        font-size: 12px;
      }
      p {
        font-size: 10px;
      }
    }
  }
  .my-franchises-area {
    > .page-element {
      min-width: 55%;
    }
    justify-content: flex-start;
    display: flex;
    .page-element {
      margin: 0 0 0 30px!important;
    }
  }
  .create-data {
    display: none;
  }
  .mobile-show {
    display: block;
    .create-data {
      display: block;
      color: white;
      max-width: 40%;
    }
    .country-block {
      display: flex;
      max-width: 40%;
    }
  }
  .progress-info {
    font-size: 10px;
    b {
      font-weight: normal;
    }
    .progress-precent {
      font-size: 12px;
    }
    .progress-precent-num {
      font-weight: bolder;
      font-size: 12px;
    }
  }
  .my-franchises {
    background-color: #f4f4f5;
    position: relative;
    top: -30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;

  }
}

@media screen and (max-width: 600px) {
  h2 {
    margin-top: 32px;
    font-size: 22px;
    padding: 0 15px;
  }
  .my-franchises-area {
    > .page-element {
      min-width: 75%;
    }
  }
}
@media screen and (max-width: 480px){
  .card-franchise {
    .card-franchise-img {
      .card-franchise-img-row {
        padding: 16px 18px 3px 15px;
      }
      .card-franchise-img-row.mobile-show {
        padding-top: 0;
      }
    }
    .country-block {
      font-size: 12px;
      font-weight: normal;
    }
    .create-data {
      font-weight: normal;
      font-size: 12px;
    }
    .name-block {
      p {
        margin-bottom: 0;
      }
      .pre-name {
        font-size: 14px;
        display: block;
        margin-top: -2px;
      }
    }
    .franchise-avatar {
      margin-top: 2px;
      margin-left: 3px;
    }
    .progress-container {
      margin-top: 29px;
      margin-left: 3px;
      .progress-container-result {
        font-size: 12px;
      }
    }
    .card-bottom {
      padding-top: 15px;
      .btn-franchise {
        margin-top: 14px;
        font-size: 14px;
        color: #051C2C!important;
        background-color: white!important;
        border-width: 2px;
        width: 98%;
      }
      .final-cost {
        margin-top: 7px;
      }
    }
  }
  .my-franchises {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .my-franchises-area {
    &:after {
      min-width: 15px;
    }
    > .page-element {
      min-width: 55%;
    }
    justify-content: flex-start;
    display: flex;
    .page-element {
      min-width: 240px;
      margin: 0 0 0 8px!important;
      &:first-child {
        margin: 0 0 0 15px!important;

      }
      .result-block {
        margin-bottom: 10px;
      }
      .result-cost {
        font-size: 16px;
      }
    }
  }
  .my-franchises {
    margin-left: -15px;
    margin-right: -15px;
  }
}
