<div class="container-fluid p-0">
  <header class="bg-primary">
    <div class="row w-100">
      <div class="col-6">
        <div class="logo"></div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-3">
            <div class="header-element d-flex justify-content-around">
              <div class="current-block">
                <p>
                  <b>76,223</b>
                </p>
                <p>USD/RUB</p>
              </div>
              <div class="current-block">
                <p>
                  <b>80,5429</b>
                </p>
                <p>EUR/RUB</p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="header-element">
              <p>
                <b>8 (800) 200 30 30</b>
              </p>
              <p>
                moleson@yandex.ru
              </p>
            </div>
          </div>
          <div class="col-4">
            <div class="header-element">
              <div class="dropdown-arrow"></div>
            </div>
          </div>
          <div class="col-2">
            <div class="header-element">
              <div class="switch-lang dropdown-arrow">RU</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

