header  {
  height: 90px;
  display: flex;
  align-items: center;
  .header-element {
    height: 100%;
    color: white;
    p {
      font-size: 14px;
      margin: 0;
      b{
        font-size: 20px;
      }
    }
    .switch-lang {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
    .dropdown-arrow:before {
      content: '>';
      color: white;
      position: absolute;
      right: -20px;
      top: calc(50% - 10px)
    }
  }
}
