<div class="partners-block-stars-row" [ngClass]="{'fixed-width':!flowWidth}">
  <ng-container *ngFor="let star of stars">
    <div *ngIf="star === 1" class="partners-block-star" [ngClass]="{'smaller-icon':!bigger}" [ngClass]="{'bigger-icon':bigger}" [setSVGAttributes]="{width: '100%', height: '100%'}" [inlineSVG]="'/assets/svg-icon/partners/start.svg'"></div>
    <div *ngIf="star === 0" class="partners-block-star start-empty" [ngClass]="{'smaller-icon':!bigger}"  [ngClass]="{'bigger-icon':bigger}" [setSVGAttributes]="{width: '100%', height: '100%'}" [inlineSVG]="'/assets/svg-icon/partners/start-empty.svg'"></div>
  </ng-container>
</div>
