.partners-block-stars-row {
  display: flex;
  margin-right: 18px;
  justify-content: space-around;
  align-items: center;

  .partners-block-star {
    display: flex;
    width: 18px;
  }
}
.fixed-width {
  width: 60px;
}
.bigger-icon {
  width: 18px;
  height: 18px;
}
.smaller-icon {
  width: 12px;
  height: 12px;
}
