<div class="partners-block-stars-row">
  <div class="partners-block-star bigger-icon" [setSVGAttributes]="{width: '100%', height: '100%'}" [inlineSVG]="'/assets/svg-icon/partners/start.svg'"></div>
  <div class="partners-block-star bigger-icon" [setSVGAttributes]="{width: '100%', height: '100%'}" [inlineSVG]="'/assets/svg-icon/partners/start.svg'"></div>
  <div class="partners-block-star bigger-icon start-empty" [setSVGAttributes]="{width: '100%', height: '100%'}" [inlineSVG]="'/assets/svg-icon/partners/start-empty.svg'"></div>
</div>
