<app-notification [type]="msgType" [text]="msgText"></app-notification>

  <div class="auth-form-body">
  <div class="auth-form-body-row">
    <label>Email</label>
    <input type="email" [(ngModel)]="email" class="default-input">
  </div>
    <div class="auth-form-body-row">
      <label>Телефон</label>
      <input type="phone" [(ngModel)]="phone" prefix="+7" mask="(000) 000 00 00" [showMaskTyped]="true" [validation]="true" class="default-input">
    </div>
  <div class="mt-3">
    <recaptcha
      [formControl]="myRecaptcha"
      (scriptLoad)="onScriptLoad()"
      (scriptError)="onScriptError()"
    >
    </recaptcha>
  </div>
  <div class="auth-form-body-row">
    <div class="btn moleson-btn-secondary" (click)="switchStage()">Далее</div>
  </div>


<app-social-auth [title]="'Зарегистрируйтесь через социальную сеть:'"></app-social-auth>
</div>
