<div *ngIf="user" class="bg-primary gradient-block">
  <div class="balance-mobile">
    <div class="balance-row left-block">
      <div class="balance-block">
       <div class="balance-block">Баланс</div>
       <div class="balance-cost">{{(user.balance * 0.01).toFixed(2)}} $</div>
      </div>
      <div class="balance-block desktop-show">
        <div class="btn balance-btn btn-success payrexx-modal-window" (click)="tokenService.gotToPayment()">Пополнить счёт</div>
        <div class="btn balance-btn btn-outline-white" [routerLink]="'/balance/withdrawal'">Вывести</div>
      </div>
    </div>
    <hr class="balance-line">
    <div class="balance-row right-block">
      <div class="balance-statistic" id="balance-statistic-1">
          <div class="balance-statistic-title">Сумма<br>выкупленных долей</div>
          <div class="balance-statistic-price">{{operationsService.getoperationSumTotal()}} $</div>
      </div>
      <div class="balance-statistic" id="balance-statistic-2">
        <div class="balance-statistic-title">Начисленно<br>дивидендов</div>
        <div class="balance-statistic-price">0 $</div>
      </div>
      <div class="balance-statistic" id="balance-statistic-3">
        <div class="balance-statistic-title">Доходность<br>портфеля (% в год)</div>
        <div class="balance-income">0 %</div>
      </div>
    </div>
  </div>
  <div class="balance-block tablet-show">
    <div class="btn btn-success">Пополнить счёт</div>
    <div class="btn btn-outline-white" [routerLink]="'/balance/withdrawal'">Вывести</div>
  </div>
</div>
<app-loading *ngIf="!user"></app-loading>
