<div class="my-franchises-area">
  <div *ngFor="let item of franchisesService.franchisesList; let i = index" class="page-element" [class.first-child]="i % 3 === 0">
    <div class="card-franchise" [routerLink]="['/franchises-detail', item._id]">
      <div class="card-franchise-img" [style.background-image]="'url(' + item.picture + ') '">
        <div class="card-franchise-img-row ">
          <p class="create-data">{{item.dateCreate}}</p>
          <p class="country-block">Россия</p>
        </div>
        <div class="card-franchise-img-row">
          <div *ngIf="item.progress < 100" class="status-block">
            <div class="status-block-point" [style.background-color]="'#FF9F19'"></div>
            Сбор инвестиций
          </div>
          <div *ngIf="item.progress === 100" class="status-block">
            <div class="status-block-point" [style.background-color]="'#FF9F19'"></div>
            Запуск
          </div>
          <div *ngIf="item.progress > 100" class="status-block">
            <div class="status-block-point" [style.background-color]="'#31B984'"></div>
            В работе
          </div>
          <div class="precent-block" [class.fill-precent]="item.progress > 100">{{item.profitability}} %</div>
        </div>
      </div>
      <div class="card-franchise-info">
        <div class="page-element-header page-element-header-line">
          <div class="franchise-head">
            <div class="franchise-avatar"
                 [style.background-image]="'url(' + item.picture + ')'"></div>
            <div class="name-block">
              <div class="pre-name">{{item.name}}</div>
              <div class="adresse">{{item.adresse}}</div>
            </div>
          </div>
        </div>
<!--        <div *ngIf="item.progress <= 100" class="progress-container">-->
        <div class="progress-container">
          <div class="progress-info">
            <div class="progress-precent">Прогресс</div>
            <div class="progress-precent-num">{{item.progress}} %</div>
          </div>
          <div class="d-flex align-items-center">
            <div class="progress-bar">
              <div class="progress-bar-full" [style.width]="item.progress + '%'"
                   [style.background-color]="item.progress === 100 ? '#31b984' : '#ff9f19'"></div>
            </div>
          </div>
          <div class="progress-info progress-info-last">
            <div>{{item.investors.length}} участников</div>
            <div>
              {{item.formatRemainCost}} $
            </div>
          </div>
          <div class="card-bottom">
            <div>
              <div class="final-cost-title">Общая стоимость</div>
              <div class="final-cost">{{item.formatCost}} $ / {{item.formatCostRub}} ₽</div>
            </div>
            <div class="btn-franchise" [routerLink]="['/franchises-detail', item._id]">Подробнее</div>
          </div>
        </div>
<!--        <div *ngIf="item.progress > 100" class="progress-container">-->
<!--          <div class="progress-container-result">-->
<!--            <div class="result-block">-->
<!--              <div class="result-title">Рост с момента покупки</div>-->
<!--              <div class="result-cost arrow-up" style="color: #31B984;font-weight: bold">450 $ (10%)</div>-->
<!--            </div>-->
<!--            <div class="result-block">-->
<!--              <div class="result-title">Начисленно дивидендов</div>-->
<!--              <div class="result-cost">1 000 $</div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card-bottom border-top">-->
<!--            <div class="desktop-show count-part">-->
<!--              <p>Кол-во долей</p>-->
<!--              <b class="final-cost">40</b>-->
<!--            </div>-->
<!--            <div class="desktop-show">-->
<!--              <p>Стоимость</p>-->
<!--              <b class="final-cost">4 000 $</b>-->
<!--            </div>-->
<!--            <div class="btn-franchise" [routerLink]="['/franchises-detail', item.id]" >Подробнее</div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
