<div class="page-element ml-0 mr-0">
  <div class="page-element-header p-0 pb-4 page-element-header-full-line d-flex justify-content-between">
    <div class="page-element-header-title">Официальные источники</div>
  </div>
  <div class="row row-social">
    <div class="col-12">
      Социальные сети
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="social-links">
        <div class="social-link-ico" [style.background-image]="'url(/assets/svg-icon/social/vk.svg)'"></div>
        <div class="social-link-name">Вконтакте</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="social-links">
        <div class="social-link-ico" [style.background-image]="'url(/assets/svg-icon/social/fb.svg)'"></div>
        <div class="social-link-name">Facebook</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="social-links">
        <div class="social-link-ico" [style.background-image]="'url(/assets/svg-icon/social/youtube.svg)'"></div>
        <div class="social-link-name">Youtube</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="social-links">
        <div class="social-link-ico" [style.background-image]="'url(/assets/svg-icon/social/inst.svg)'"></div>
        <div class="social-link-name">Instagram</div>
      </div>
    </div>
  </div>
  <div class="row row-social">
    <div class="col-12 row-social-title">Чаты</div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="social-links">
        <div class="social-link-ico" [style.background-image]="'url(/assets/svg-icon/social/telegram.svg)'"></div>
        <div class="social-link-name">Telegram</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="social-links">
        <div class="social-link-ico" [style.background-image]="'url(/assets/svg-icon/social/whatsapp.svg)'"></div>
        <div class="social-link-name">Whatsapp</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="social-links">
        <div class="social-link-ico" [style.background-image]="'url(/assets/svg-icon/social/skype.svg)'"></div>
        <div class="social-link-name">Skype</div>
      </div>
    </div>
  </div>
  <div class="row row-social">
    <div class="col-12 row-social-title">Каналы</div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="social-links">
        <div class="social-link-ico" [style.background-image]="'url(/assets/svg-icon/social/telegram.svg)'"></div>
        <div class="social-link-name">Telegram</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <div class="social-links">
        <div class="social-link-ico" [style.background-image]="'url(/assets/svg-icon/social/whatsapp.svg)'"></div>
        <div class="social-link-name">Whatsapp</div>
      </div>
    </div>
  </div>
</div>
