<div *ngIf="tokenService.getVerificationStep() > 4" class="card-title">
  Документы подтверждены
</div>
<ng-container *ngIf="tokenService.getVerificationStep() <= 4">
  <div class="step-block">
    <div class="step-block-header-full-line">
      <div class="step-block-header-ico" [inlineSVG]="'/assets/svg-icon/menu/docs.svg'"></div>
      <div class="step-block-header-row">
        <div class="step-block-header-desc">Документ подтверждения личности</div>
        <div class="step-block-header-title">Общегражданский паспорт</div>
      </div>
    </div>
    <app-notification [type]="notificationType" [text]="notificationText"></app-notification>
    <div class="step-block-body">
      <div class="step-block-body-row">
        <input type="file" (change)="checkLoad($event.target, 0)" class="custom-drag-and-drop">
        <div class="step-block-body-title">Скан 1-й страницы паспорта</div>
        <div class="img-row" [class.img-row-hide]="!scan[0].img">
          <div class="img-row-col">
            <div class="img-load" [style.background-image]="'url(' + scan[0].img + ')'"></div>
            <div class="img-load-title">{{scan[0].name}}</div>
          </div>
          <div class="img-row-col">
            <div class="img-row-status-ico"></div>
            <div class="img-row-status"></div>
          </div>
          <div class="img-row-col">
            <div class="img-size">{{scan[0].size}}</div>
            <div class="remove-ico" [inlineSVG]="'/assets/svg-icon/delete.svg'" (click)="clearFile(0)"></div>
          </div>
        </div>
        <div class="moleson-btn moleson-btn-secondary">Загрузить</div>
      </div>
      <div class="step-block-body-row">
        <input type="file" (change)="checkLoad($event.target, 1)" class="custom-drag-and-drop">
        <div class="step-block-body-title">Скан 2-й страницы паспорта</div>
        <div class="img-row" [class.img-row-hide]="!scan[1].img">
          <div class="img-row-col">
            <div class="img-load" [style.background-image]="'url(' + scan[1].img + ')'"></div>
            <div class="img-load-title">{{scan[1].name}}</div>
          </div>
          <div class="img-row-col">
            <div class="img-row-status-ico"></div>
            <div class="img-row-status"></div>
          </div>
          <div class="img-row-col">
            <div class="img-size">{{scan[1].size}}</div>
            <div class="remove-ico" [inlineSVG]="'/assets/svg-icon/delete.svg'" (click)="clearFile(1)"></div>
          </div>
        </div>
        <div class="moleson-btn moleson-btn-secondary">Загрузить</div>
      </div>
      <div class="step-block-body-row">
        <input type="file" (change)="checkLoad($event.target, 2)" class="custom-drag-and-drop">
        <div class="step-block-body-title">Селфи с паспортом</div>
        <div class="img-row" [class.img-row-hide]="!scan[2].img">
          <div class="img-row-col">
            <div class="img-load" [style.background-image]="'url(' + scan[2].img + ')'"></div>
            <div class="img-load-title">{{scan[2].name}}</div>
          </div>
          <div class="img-row-col">
            <div class="img-row-status-ico"></div>
            <div class="img-row-status"></div>
          </div>
          <div class="img-row-col">
            <div class="img-size">{{scan[2].size}}</div>
            <div class="remove-ico" [inlineSVG]="'/assets/svg-icon/delete.svg'" (click)="clearFile(2)"></div>
          </div>
        </div>
        <div class="moleson-btn moleson-btn-secondary">Загрузить</div>
      </div>
      {{getFileName(scan[3])}}
    </div>
    <div class="moleson-btn moleson-btn-secondary" (click)="saveFiles()">Сохранить</div>
    <div class="step-block-bottom">
      <div class="step-block-bottom-desc-title">Требования к документам</div>
      <div class="step-block-bottom-desc-li">цветные, необрезанные, отсканированные страницы с разрешением не менее 300
        dpi
      </div>
      <div class="step-block-bottom-desc-li">размер файла не должен превышать 5 Mb</div>
      <div class="step-block-bottom-desc-li">допустимые форматы: jpg, jpeg, png</div>
    </div>
  </div>
</ng-container>
