<div class="main-block">
  <div class="navigate-row">
    <div class="navigate-link" [routerLink]="'/partners/analytics'" [routerLinkActive]="'navigate-link-active'">Аналитика</div>
    <div class="navigate-link" [routerLink]="'/partners/marketing-plan'" [routerLinkActive]="'navigate-link-active'">Маркетинг-план</div>
    <div class="navigate-link">Структура</div>
    <div class="navigate-link">Зарегистрировать</div>
    <div class="navigate-link">Обучение</div>
  </div>
  <router-outlet></router-outlet>
</div>
