<div class="income">
  <h3 class="page-element-title">Доходность</h3>
  <div class="income-header">
    <div class="custom-arrow-dropdown">
      <select class="form-control">
        <option>2020 год</option>
        <option>2019 год</option>
        <option>2018 год</option>
        <option>2017 год</option>
      </select>
    </div>
    <div class="custom-arrow-dropdown">
      <select class="form-control">
        <option>В рублях</option>
        <option>В Долларах</option>
      </select>
    </div>
  </div>
  <div class="income-subheader">
    <div class="income-info-block">
      <div class="income-title">Общая доходность</div>
      <div class="income-cost">3 000 254 ₽</div>
    </div>
  </div>
  <div class="income-body">
    <div class="income-info-block">
      <div class="income-title">Дивиденды</div>
      <div class="income-cost">240 000 ₽</div>
    </div>
    <div class="income-info-block">
      <div class="income-title">Доход от продажи долей</div>
      <div class="income-cost">60 254 ₽</div>
    </div>
    <div class="income-info-block">
      <div class="income-title">Инвестированно</div>
      <div class="income-cost">30 254 ₽</div>
    </div>
  </div>
</div>
