<app-notification [type]="msgType" [text]="msgText"></app-notification>

<div class="auth-form-body">
  <ng-container *ngIf="!changeComplete">
    <div class="auth-form-body-row">
      <span class="bold-title">Сброс пароля</span>
      <label>Введите новый пароль и его подтверждение в поля ниже</label>
    </div>

    <div class="auth-form-body-row password-row">
      <label>Новый пароль</label>
      <input [type]="inputType" [(ngModel)]="password" class="default-input">
      <div class="show-password" [class.show-pass]="inputType === 'password'" (click)="inputType = inputType === 'password' ? 'text' : 'password'"></div>
    </div>

    <div class="auth-form-body-row password-row">
      <label>Повторите пароль</label>
      <input [type]="inputTypeRes" [(ngModel)]="passwordRepeat" class="default-input">
      <div class="show-password" [class.show-pass]="inputTypeRes === 'password'" (click)="inputTypeRes = inputTypeRes === 'password' ? 'text' : 'password'"></div>
    </div>


    <div class="auth-form-body-row flex-fix">
      <button class="btn moleson-btn-secondary width-50" (click)="change()" [class.btnDisable]="formLoad" [disabled]="formLoad">Далее</button>
      <div class="btn btn-outline-primary width-50" [routerLink]="'/auth/reset'">Назад</div>
    </div>
  </ng-container>
  <ng-container *ngIf="changeComplete">
    <div class="auth-form-body-row">
      <span class="bold-title">Пароль изменен успешно</span>
    </div>
    <div class="auth-form-body-row">
      <button class="btn moleson-btn-secondary" [routerLink]="'/auth/login'" [class.btnDisable]="formLoad" [disabled]="formLoad">Войти</button>
    </div>

  </ng-container>
  <app-social-auth [title]="'Или войдите через социальную сеть'"></app-social-auth>
</div>
