<div class="perspective" [class.horizontal]="horizontal">
  <div class="perspective-item" [style.background-image]="'url(/assets/img/perspective/perspective1.png)'">
    <div class="perspective-item-top">
      <div class="perspective-item-logo" [style.background-image]="'url(/assets/img/perspective/perspective-logo1.png)'"></div>
      <div class="perspective-item-name">H&M</div>
    </div>
    <div class="perspective-item-bottom">
      <div class="perspective-item-title">Прогнозируемая доходность</div>
      <div class="perspective-item-income">29%</div>
    </div>
  </div>
  <div class="perspective-item" [style.background-image]="'url(/assets/img/perspective/perspective2.png)'">
    <div class="perspective-item-top">
      <div class="perspective-item-logo" [style.background-image]="'url(/assets/img/perspective/perspective-logo2.png)'"></div>
      <div class="perspective-item-name">H&M</div>
    </div>
    <div class="perspective-item-bottom">
      <div class="perspective-item-title">Прогнозируемая доходность</div>
      <div class="perspective-item-income">29%</div>
    </div>
  </div>
  <div class="perspective-item" [style.background-image]="'url(/assets/img/perspective/perspective1.png)'">
    <div class="perspective-item-top">
      <div class="perspective-item-logo" [style.background-image]="'url(/assets/img/perspective/perspective-logo1.png)'"></div>
      <div class="perspective-item-name">H&M</div>
    </div>
    <div class="perspective-item-bottom">
      <div class="perspective-item-title">Прогнозируемая доходность</div>
      <div class="perspective-item-income">29%</div>
    </div>
  </div>
</div>
<div class="btn w-100 btn-more" [class.d-none]="horizontal">Смотреть все</div>
