<div class="card-title">Поздравляем, аккаунт верифицирован</div>
<div class="verification-finish">
  <div class="verification-col">
    <div class="verification-img" [inlineSVG]="'/assets/svg-icon/verification-finish.svg'"></div>
  </div>
  <div class="verification-col">
    <div class="verification-ul">
      <div class="verification-title">Теперь вы можете</div>
      <div class="verification-li">
        <div class="success-ico" [inlineSVG]="'/assets/svg-icon/success.svg'"></div>
        просматривать финансовую отчетность франшиз</div>
      <div class="verification-li">
        <div class="success-ico" [inlineSVG]="'/assets/svg-icon/success.svg'"></div>участвовать в партнерской программе</div>
      <div class="verification-li">
        <div class="success-ico" [inlineSVG]="'/assets/svg-icon/success.svg'"></div>покупать более 10 франшиз</div>
      <div class="moleson-btn moleson-btn-secondary">Пополнить баланс</div>
    </div>
  </div>
</div>
